
 body h1{
  font-size:25px;
 }

.navigation{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.border2{
    height: 288px;
    width: 220px;
    border: 0.5px solid #E9ECF2;
    border-radius: 99px 99px 10px 10px;
}
.border3{
  height: 288px;
  border: 1px solid black;
  border-radius: 99px 99px 10px 10px;
}
.btn{
    border: 1px solid black ;
    box-shadow: 5px 5px  #f0813a;
}

.butto{
    border: 1px solid black ;
    box-shadow: 5px 5px  #f0813a;
    margin-top: 7px;
}

.butto2{
    border: 1px solid black ;
    box-shadow: 5px 5px white;
    margin-top: 7px;
}
.nav-link:hover{
   color: #ff8000;
}

.load {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh; /* Adjust as needed */
 }
 
 .load-button {
  padding: 2px 15px 2px 15px;
  border: 2px solid black;
    background-color:white;
    box-shadow: 5px 5px  #f0813a;
    border-radius: 5px;
 }
  .main {
    background-color: #f0813a;
    margin-top: 5rem;
    text-align: center;
    padding: 0 0 3rem 0;
  }
  
  .main h1 {
    font-family: 'bootstrap-icons';
    font-weight: 700;
  }
  
  .main .card1 {
    padding: 5rem 3rem;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    border-radius: 0 0px 200px 200px;
    position: relative;
    color: #fff;
    transition: all 2s;
  }
  
  .main .card1:hover {
    background-color: #fff;
    color: #000;
    transition: all 0.5s;
    box-shadow: 10px 4px 0 2px;
  }
  
  
  
  .bi-arrow-down-circle::before {
    content: "\f119";
    background-color:  #f0813a;
    border-radius: 50px;  
    transition: all 0.3s;
  }
  
  img {
    width: 40%;
    border-radius: 50%;
  }
  
  .main .img {
    position: absolute;
    top: -110px;
    left: 0;
    right: 0;
  }
   @media(max-width:412px){
    .main .img {
      position: absolute;
      top: -210px !important;
      left: 0;
      right: 0;
    }
   }


   .main {
    background-color: #f0813a;
    margin-top: 5rem;
    text-align: center;
    padding: 0 0 3rem 0;
  }
  
  .main h1 {
    font-family: 'bootstrap-icons';
    font-weight: 700;
  }
  
  .main .card1 {
    padding: 5rem 3rem;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    border-radius: 0 0px 200px 200px;
    position: relative;
    color: #fff;
    transition: all 2s;
  }
  
  .main .card1:hover {
    background-color: #fff;
    color: #000;
    transition: all 0.5s;
    box-shadow: 10px 4px 0 2px;
  }
  
  
  
  .bi-arrow-down-circle::before {
    content: "\f119";
    background-color:  #f0813a;
    border-radius: 50px;  
    transition: all 0.3s;
  }
  
  img {
    width: 40%;
    border-radius: 50%;
  }
  
  .main .img {
    position: absolute;
    top: -110px;
    left: 0;
    right: 0;
  }
   @media(max-width:412px){
    .main .img {
      position: absolute;
      top: -210px !important;
      left: 0;
      right: 0;
    }
   }


   .card1{
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    border-radius: 0 0px 200px 200px;

   }

   .button4{
    background-color: #f0813a;
    color: white;
    border: 2px solid white;
    box-shadow: 5px 5px black;
    text-align: center;
   }
   .chintu{
   font-family: 'Bungee Spice', serif;
        font-size: 48px;}

   #v-pills-tab button:hover{
    background-color: white; 
   }

   .bread-image {
    margin-bottom: 20px;
    background-image: url(dishimage.jpeg);
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .text-bread button{
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: #f0813a;
    border: 2px solid white;
    color: white;
  }
  .text-bread button:hover{
    box-shadow: 3px 3px black;
    transition:0.5s;
  }
  .text-bread
  {
    color: white;
    text-align: center;
    position: relative;
    top: 172px;
  font-weight: bold;
    padding-left: 475px;
    font-size: large;
  }
  .text-bread p{
    text-decoration: underline;
  }
  @media(min-width:1024px){
    .text-bread{
      position: relative;
      top: 246px;
      padding-left: 637px;
    }
  }